<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quitsmoking">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_chantix_final"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_chantix_final_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bridge"></activity>
        <activity android:name=".Loginscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJQcJHahFxYintO8pPPI7KkKnOaS7DwJM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".graph" />
        <activity android:name=".nointernet" />
        <activity android:name=".toxicityac" />
        <activity
            android:name=".mainscreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".enterdetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".limits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailycounter"
            android:screenOrientation="portrait" />
        <activity android:name=".frontscreen" />
        <activity android:name=".gui2" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".My_Messaging_Service"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_coin" /> <!-- icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />
    </application>

</manifest>